<%# change to col-sm-3 to make responsive? %>
<%# try col-xs-1 col-sm-3 to move features box above others %>

<div class="container-lg text-center subscription-container">
    <div class="row popular-row">
        <div class="col-3 popular-box"></div>
        <div class="col-3 popular-box"></div>
        <div class="col-3 popular-box most-popular">
            <div class="most-pop-box">
                <span>Most Popular</span>
            </div>
        </div>
        <div class="col-3 popular-box"></div>
    </div>
    <div class="row">
        <div class="col-3 features-box sub-plan-pricing">
            <%= "Subscription Plans and Pricing" %>
        </div>
        <div class="col-3 bg-white option-box tier-name free">
            <i class="fa-solid fa-user fa-2x"></i>
            <br>
                <div class="tier-primary-text">
                    <%= "Free Tier" %>
                    <br>
                    <span class="price"><%= SubscriptionPlan.find_by(name: "free").price %></span>
                </div>
            <br>
            <%= "Usage restrictions will apply until your account is funded with at least $5" %>
        </div>
        <div class="col-3 bg-white option-box tier-name business">
            <i class="fa-solid fa-users fa-2x"></i>
            <br>
            <div class="tier-primary-text">
                <%= "Business" %>
                <br>
                <span class="price"><%= SubscriptionPlan.find_by(name: "business").price %></span>
            </div>
            <br>
            <%= "Monthly" %>
            <br>
            <span class="current-plan-time-remaining"><%= "Current Plan - Trial 45 days left" %></span>
        </div>
        <div class="col-3 bg-white option-box tier-name enterprise">
            <i class="fa-solid fa-building fa-2x"></i>
            <br>
            <div class="tier-primary-text">
                <%= "Enterprise" %>
                <br>
                <span class="price"><%= SubscriptionPlan.find_by(name: "enterprise").price %></span>
            </div>
            <br>
            <%= "Monthly (Minimum of 3 months if using (*) features)" %>
            <br>
            <%= button_to "Get Started", update_subscription_plan_path(@company.id, company: {subscription_plan_id: 1})%>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "Reporting Data Storage" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "7 Days" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "60 Days" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <%= "1 Year" %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "# Of Administrators" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "1" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "10" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <%= "Unlimited" %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "Billing" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "Credit card billed automatically at the end of the month" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <%= "Credit card billed automatically at the end of the month" %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "1 Year Price Lock (From Start Time)" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "No" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "Yes" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <%= "Yes" %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "Billing Data Export" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "API, From UI (CSV, PDF)" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <%= "API, From UI (CSV, PDF)" %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "Automated Monthly Invoices Broken Down By Projects" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "API, From UI (CSV, PDF)" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <%= "API, From UI (CSV, PDF)" %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "Subprojects" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <i class="fa-solid fa-check checkmark"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "HIPAA BAA (*)" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <i class="fa-solid fa-check checkmark"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "Free (Included) Media Storage" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "5 GB" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "200 GB" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <%= "500 GB" %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "RTMP Out" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <i class="fa-solid fa-check checkmark"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "Reseller Tax Agreement (*)" %>
        </div>
        <div class="col-3 bg-white option-box free">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box business">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box enterprise">
            <i class="fa-solid fa-check checkmark"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "Call Throughput (Space Level)" %>
        </div>
        <div class="col-3 bg-white option-box free last">
            <%= "1 call / second" %>
        </div>
        <div class="col-3 bg-white option-box business last">
            <%= "5 calls / second" %>
        </div>
        <div class="col-3 bg-white option-box enterprise last">
            <%= "50 calls / second" %>
        </div>
    </div>
</div>

<div class="container-lg text-center addons-container">
    <div class="row">
        <div class="col-3 features-box addon-title-box">
            <%= "Add-Ons" %>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
     <div class="row">
        <div class="col-3 features-box">
            <%= "Dedicated IP For BYOC (*)" %>
        </div>
        <div class="col-3 bg-white option-box">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box">
            <%= "$500/month for redundant IPs" %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 features-box">
            <%= "Additional Incremental CPS (SIP or PSTN)" %>
        </div>
        <div class="col-3 bg-white option-box">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box">
            <%= "-" %>
        </div>
        <div class="col-3 bg-white option-box">
            <%= "Max 250 CPS - Contact Sales" %>
        </div>
    </div>
</div>


<div class="container-lg faq-container"> 
    <div class="row">
        <div class="col-3 faq-title-box">
            <%= "FAQ" %>
        </div>
    </div>
    <div class="row">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <%= "How does the one year price lock work?" %>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <p>
                            How does the one year price lock work?Customers will be locked in to the current SignalWire
                            standard tiered rates for up to 12 months when they upgrade to either the Business or Enterprise bundle. 
                            The price lock only remains in place for the duration that the customer remains on the paid Business
                            or Enterprise bundle, and rates are based on the date that the bundle upgrade occurred. At the conclusion
                            of the initial one year price lock, the customer will then be locked in at the current SignalWire standard tiered
                            rates (as of the start of month 13) for up to the next 12 months as long as they remain under the Business or 
                            Enterprise bundle. Any custom commit contract pricing and agreed-upon duration supersedes the 12 month price
                            lock line item.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <%= "How does high throughput calling work as part of the bundles?" %>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        This is the second item's accordion body.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>