<div class="container-lg text-center subscription-container">
    <div class="row">
        <div class="col">
            <%= "Subscription Plans and Pricing" %>
        </div>
        <div class="col bg-white">
            <%= "Free Tier" %>
            <%= SubscriptionPlan.find_by(name: "free").price %>
            <%= "Usage restrictions will apply until your account is funded with at least $5" %>
        </div>
        <div class="col bg-white">
            <%= "Business" %>
            <%= SubscriptionPlan.find_by(name: "business").price %>
            <%= "Monthly" %>
            <%= "Current Plan - Trial 45 days left" %>
        </div>
        <div class="col bg-white">
            <%= "Enterprise" %>
            <%= SubscriptionPlan.find_by(name: "enterprise").price %>
            <%= "Monthly (Minimum of 3 months if using (*) features)" %>
            <%= button_to "Get Started", update_subscription_plan_path(@company.id, company: {subscription_plan_id: 1})%>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "Reporting Data Storage" %>
        </div>
        <div class="col bg-white">
            <%= "7 Days" %>
        </div>
        <div class="col bg-white">
            <%= "60 Days" %>
        </div>
        <div class="col bg-white">
            <%= "1 Year" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "# Of Administrators" %>
        </div>
        <div class="col bg-white">
            <%= "1" %>
        </div>
        <div class="col bg-white">
            <%= "10" %>
        </div>
        <div class="col bg-white">
            <%= "Unlimited" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "Billing" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "Credit card billed automatically at the end of the month" %>
        </div>
        <div class="col bg-white">
            <%= "Credit card billed automatically at the end of the month" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "1 Year Price Lock (From Start Time)" %>
        </div>
        <div class="col bg-white">
            <%= "No" %>
        </div>
        <div class="col bg-white">
            <%= "Yes" %>
        </div>
        <div class="col bg-white">
            <%= "Yes" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "Billing Data Export" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "API, From UI (CSV, PDF)" %>
        </div>
        <div class="col bg-white">
            <%= "API, From UI (CSV, PDF)" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "Automated Monthly Invoices Broken Down By Projects" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "API, From UI (CSV, PDF)" %>
        </div>
        <div class="col bg-white">
            <%= "API, From UI (CSV, PDF)" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "Subprojects" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "HIPAA BAA (*)" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "Free (Included) Media Storage" %>
        </div>
        <div class="col bg-white">
            <%= "5 GB" %>
        </div>
        <div class="col bg-white">
            <%= "200 GB" %>
        </div>
        <div class="col bg-white">
            <%= "500 GB" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "RTMP Out" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "Reseller Tax Agreement (*)" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "Call Throughput (Space Level)" %>
        </div>
        <div class="col bg-white">
            <%= "1 call / second" %>
        </div>
        <div class="col bg-white">
            <%= "5 calls / second" %>
        </div>
        <div class="col bg-white">
            <%= "50 calls / second" %>
        </div>
    </div>
</div>

<div class="container-lg text-center addons-container">
    <div class="row">
        <div class="col">
            <%= "Add-Ons" %>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
     <div class="row">
        <div class="col">
            <%= "Dedicated IP For BYOC (*)" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "$500/month for redundant IPs" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= "Additional Incremental CPS (SIP or PSTN)" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "-" %>
        </div>
        <div class="col bg-white">
            <%= "Max 250 CPS - Contact Sales" %>
        </div>
    </div>
</div>

<div class="container faq-container">
    <div class="row">
        <%= "FAQ" %>
    </div>
    <div class="row bg-white">
        <%= "How does the one year price lock work?" %>
    </div>
    <div class="row bg-white">
        <%= "How does high throughput calling work as part of the bundles?" %>
    </div>
</div>



