<%# change to col-sm-3 to make responsive? %>
<%# try col-xs-1 col-sm-3 to move features box above others %>

<div class="container-lg text-center subscription-container">
    <div class="row whole-container-row">
        <div class="col-3 features-col">
            <div class="row table-row feature-row">
                <div class="col col-xs-2">
                    <%= "Subscription Plans and Pricing" %>
                </div>
            </div>
            <div class="row table-row feature-row"> 
                <div class="col col-xs-2">
                     <%= "Reporting Data Storage" %>
                </div>
            </div>
            <div class="row table-row feature-row">
                <%= "# Of Administrators" %>
            </div>
            <div class="row table-row feature-row">
                <%= "Billing" %>
            </div>
            <div class="row table-row feature-row">
                <%= "1 Year Price Lock (From Start Time)" %>
            </div>
            <div class="row table-row feature-row">
                <%= "Billing Data Export" %>
            </div>
            <div class="row table-row feature-row">
                <%= "Automated Monthly Invoices Broken Down By Projects" %>
            </div>
            <div class="row table-row feature-row">
                <%= "Subprojects" %>
            </div>
            <div class="row table-row feature-row">
                <%= "HIPAA BAA (*)" %>
            </div>
            <div class="row table-row feature-row">
                <%= "Free (Included) Media Storage" %>
            </div>
            <div class="row table-row feature-row">
                <%= "RTMP Out" %>
            </div>
            <div class="row table-row feature-row">
                <%= "Reseller Tax Agreement (*)" %>
            </div>
            <div class="row table-row feature-row">
                <%= "Call Throughput (Space Level)" %>
            </div>
        </div>
        <div class="col-3 free-col">
            <div class="row table-row free-row">
                <div class="col col-xs-2 bg-white">
                    <%= "Free Tier" %>
                    <%= SubscriptionPlan.find_by(name: "free").price %>
                    <%= "Usage restrictions will apply until your account is funded with at least $5" %>
                </div>
            </div>
            <div class="row table-row free-row">
                <div class="col col-xs-2 bg-white">
                    <%= "7 Days" %>
                </div>
            </div>
            <div class="row table-row free-row">
                <%= "1" %>
            </div>
            <div class="row table-row free-row">
                <%= "-" %>
            </div>
            <div class="row table-row free-row">
                <%= "No" %>
            </div>
            <div class="row table-row free-row">
                <%= "-" %>
            </div>
            <div class="row table-rowfree-row">
                <%= "-" %>
            </div>
            <div class="row table-row free-row">
                <%= "-" %>
            </div>
            <div class="row table-row free-row">
                <%= "-" %>
            </div>
            <div class="row table-row free-row">
                <%= "5 GB" %>
            </div>
            <div class="row table-row free-row">
                <%= "-" %>
            </div>
            <div class="row table-row free-row">
                <%= "-" %>
            </div>
            <div class="row table-row free-row">
                <%= "1 call / second" %>
            </div>
        </div>
        <div class="col-3 business-col">
            <div class="row table-row business-row">
                <div class="col col-xs-2 bg-white">
                    <%= "Business" %>
                    <%= SubscriptionPlan.find_by(name: "business").price %>
                    <%= "Monthly" %>
                    <%= "Current Plan - Trial 45 days left" %>
                </div>
            </div>
            <div class="row table-row business-row">
                <div class="col col-xs-2 bg-white">
                    <%= "7 Days" %>
                </div>
            </div>
            <div class="row table-row business-row">
            </div>
            <div class="row table-row business-row">
            </div>
            <div class="row table-row business-row">
            </div>
            <div class="row table-row business-row">
            </div>
            <div class="row table-row business-row">
            </div>
            <div class="row table-row business-row">
            </div>
        </div>
        <div class="col-3 enterprise-col">
            <div class="row table-row enterprise-row">
                <div class="col col-xs-2 bg-white">
                    <%= "Enterprise" %>
                    <%= SubscriptionPlan.find_by(name: "enterprise").price %>
                    <%= "Monthly (Minimum of 3 months if using (*) features)" %>
                    <%= button_to "Get Started", update_subscription_plan_path(@company.id, company: {subscription_plan_id: 1})%>
                </div>
            </div>
            <div class="row table-row enterprise-row">
            </div>
            <div class="row table-row enterprise-row">
            </div>
            <div class="row table-row enterprise-row">
            </div>
            <div class="row table-row enterprise-row">
            </div>
            <div class="row table-row enterprise-row">
            </div>
            <div class="row table-row enterprise-row">
            </div>
            <div class="row table-row enterprise-row">
            </div>
        </div>
    </div>
</div>

